{% extends "base.html" %}

{% block content %}
    <h1>Comments</h1>
    <hr />

    <div style="margin-left:20px;margin-top:20px;margin-right:20px;">  
        {% if comments %}      
            {% for comment in comments %}
                <p style="display: inline;"><em>{{comment.writer}}</em> ({{comment.date}}) </p>
                <div style="display: inline; float: right;"> 
                    <form action="{% url 'like' 'comment' comment.id '1' %}" method="POST">
                      {% csrf_token %}
                      <button>👍 {{comment.likes}}</button>
                    </form>
                    <form action="{% url 'like' 'comment' comment.id '0' %}" method="POST">
                      {% csrf_token %}
                      <button>👎 {{comment.dislikes}}</button>
                    </form>
                  </div>
                <p> {{comment.content}} </p>
                <hr />
            {% endfor %}
        {% else %}
            <p>No comments yet.</p>
        {% endif %}
    </div>
{% endblock %}