{% extends "base.html" %}

{% block content %}
  <h1>My Blog Home</h1>
  <p>
    Welcome to My Blog, a website developed by
    <em><a href="https://github.com/DaewoongLime">Me</a></em>!
  </p>
  <hr />
    {% if posts %}
    <h2>Recent Posts:</h2>
    <ul>
      {% for post in posts %}
      <div style="margin-top:20px">  
        <h4><a href="{{post.id}}">{{ post.title }}</a></h4>
        <p  style="white-space: nowrap; overflow: hidden; max-width: 100%;">
          {{post.date}} ({{post.likes}})
        </p>
        <p  style="white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;">
          <strong>{{post.writer}}</strong> - {{ post.content }}
        </p>
        <hr />
      </div>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no posts written yet.</p>
  {% endif %}

  {% load static %}

{% endblock %}