{% extends "base.html" %}

{% block content %}
  <h1>My Blog Home</h1>
  <p>
    Welcome to My Blog, a website developed by
    <em>Me</em>!
  </p>
  <h2>Dynamic content</h2>
  <p>View our recent posts:</p>
    {% if posts %}
    <ul>
      {% for post in posts %}
      <li>
        <strong><a href="">{{ post.title }}</a></strong>
        ({{post.writer}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no posts written yet.</p>
  {% endif %}

  {% load static %}
    <img
    src="{% static 'image/bnbn.jpeg' %}"
    alt="My image"
    style="width:555px;height:540px;" />
{% endblock %}