{% extends "base.html" %}

{% block content %}
  <h1>My Blog Home</h1>
  <p>
    Welcome to My Blog, a website developed by
    <em><a href="https://github.com/DaewoongLime">Me</a></em>!
  </p>
  <hr />
  <p>View our recent posts:</p>
    {% if posts %}
    <ul>
      {% for post in posts %}
      <li>
        <strong><a href="{{post.id}}">{{ post.title }}</a></strong>
        ({{post.writer}})
      </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no posts written yet.</p>
  {% endif %}

  {% load static %}

{% endblock %}