{% extends "base.html" %}

{% block content %}
    <h1 style="margin-top: 20px;">{{name}}</h1>
    <p>Posts: <strong>{{posts.count}}</strong></p>
    <p>Comments: <strong>{{comments.count}}</strong></p>
    <hr />

    <h4>Posts</h4>
    {% if posts %}
        {% for post in posts|slice:"5" %}
            <div style="margin-top: 20px;">  
                <h4><a href="{% url 'post' post.id %}">{{post.title}}</a></h4>
                <p  style="white-space: nowrap; overflow: hidden; max-width: 100%;">
                {{post.date}} ({{post.likes}})
                </p>
                {% if auth %}
                    <a href="{% url 'edit-post' post.id %}">Edit Post</a>
                    <a href="{% url 'delete' post.id 'post' %}" onclick="return confirm('Are you sure? This action is irreversible.')">Delete Post</a>
                {% endif %}
            </div>
        {% endfor %}
        {% if posts.count > 5 %}
            <a href="{% url 'show-all' name 'posts' %}">See All</a>
        {% endif %}
    {% else %}
        <p>No posts yet.</p>
    {% endif %}
    <hr />
    <h4>Comments</h4>
    {% if comments %}
        {% for comment in comments|slice:"5" %}
            <div style="margin-top: 20px;">  
                <p>{{comment.content}} on <a href="{% url 'post' comment.post.id %}">{{comment.post}}</a> <a href="{% url 'comments' comment.post.id %}"> See List</a></p>
                <p  style="white-space: nowrap; overflow: hidden; max-width: 100%;">
                {{comment.date}} ({{comment.likes}}) ({{comment.dislikes}})
                </p>
                {% if auth %}
                <a href="{% url 'edit-comment' comment.id %}">Edit Comment</a>
                <a href="{% url 'delete' comment.id 'comment' %}" onclick="return confirm('Are you sure? This action is irreversible.')">Delete Comment</a>
                {% endif %}
            </div>
        {% endfor %}
        {% if comments.count > 5 %}
            <a href="{% url 'show-all' name 'comments' %}">See All</a>
        {% endif %}
    {% else %}
        <p>No comments yet.</p>
    {% endif %}

{% endblock %}