{% extends "base.html" %}

{% block content %}
    <h1 style="margin-top: 20px;">{{name}}</h1>
    <p>Posts: <strong><em>{{posts.count}}</em></strong></p>
    <p>Comments: <strong><em>{{comments.count}}</em></strong></p>
    <hr />

    <h4>Posts</h4>
    {% if posts %}
        {% for post in posts|slice:"5" %}
            <div style="margin-top: 20px;">  
                <h4><a href="{% url 'post' post.id %}">{{post.title}}</a></h4>
                <p  style="white-space: nowrap; overflow: hidden; max-width: 100%;">
                {{post.date}} ({{post.likes}})
                </p>
                {% if auth %}
                    <a href="">Edit Post</a>
                    <a href="">Delete Post</a>
                {% endif %}
            </div>
        {% endfor %}
        {% if posts.count > 5 %}
            <a href="">See All</a>
        {% endif %}
    {% else %}
        <p>No posts yet.</p>
    {% endif %}

    <h4>Comments</h4>
    {% if comments %}
        {% for comment in comments|slice:"5" %}
            <div style="margin-top: 20px;">  
                <p>{{ comment.content }} <a href="{% url 'comments' comment.post.id %}"> See List</a></p>
                <p  style="white-space: nowrap; overflow: hidden; max-width: 100%;">
                {{comment.date}} ({{comment.likes}}) {{comment.dislikes}}
                </p>
                {% if auth %}
                <a href="">Edit Comment</a>
                <a href="">Delete Comment</a>
            {% endif %}
            </div>
        {% endfor %}
        {% if posts.count > 5 %}
            <a href="">See All</a>
    {% endif %}
    {% else %}
        <p>No comments yet.</p>
    {% endif %}

{% endblock %}